html {
    overflow-x: hidden; /* Remove horizontal scrollbar */
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #043e54; /* Updated font color */
    overflow-x: hidden; /* Remove horizontal scrollbar */
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, #02968a 0%, #94DEA5 100%); /* Updated header background with gradient */
    box-sizing: border-box; /* Ensure padding is included in width */
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}
.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-text {
    margin-right: 20px;
    max-width: calc(100% - 190px); /* Ensure header text does not cause overflow */
}
header a {
    color: #043e54; /* Match the font color */
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Academicons'; /* Ensure correct font family */
}
header a:hover {
    color: #02968a; /* Slightly different color on hover */
    text-decoration: none; /* Remove underline on hover */
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width */
}
.left-section, .right-section {
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width */
}
.left-section p {
    text-align: justify; /* Evenly space out the "About Me" paragraph */
}
.left-section ul {
    padding-left: 20px; /* Align the lists with the titles */
}
.right-section ul {
    padding-left: 20px; /* Align the list with the title */
}
a {
    color: #043e54; /* Updated hyperlink color */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media (min-width: 768px) {
    main {
        flex-direction: row;
    }
    .left-section, .right-section {
        flex: 1;
    }
}